* {
    font-family: "inter",sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 100%;
}

header {
    display: flex;
    font-weight: bolder;
    color:#0A3871
}

.logo {
    padding: 10px 30px;
}

body {
    background-color: #F3F5FC;
}
.main {
    width: 80%;
    padding: px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
}
#input{
    outline: 0;
    width: 700px;
    height: 600px;
    padding: 30px;
    margin: 10px;
    border-radius: 24px;
    align-items: center;
    border: none;
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F3F5FC;
}
#mensagem {
    outline: 0;
    width: 350px;
    height: 600px;
    padding: 30px;
    border: none;
    border-radius: 24px;
    align-items: center;
    margin: 10px;
    background-color:white
}

.botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.criptografar {
    Width: 200px;
    Height: 50px;
    border-radius: 24px;
    gap: 8px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    background-color: #0A3871;
}   

.descriptografar {
    Width: 200px;
    Height: 50px;
    border-radius: 24px;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    background-color: #D8DFE8;
}
#copResult {
    Width: 200px;
    Height: 50px;
    border-radius: 24px;
    gap: 8px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    background-color: #0A3871;
}
.descriptografar:hover {
    cursor: pointer;
    background-color: #0A3871;
    color:white ;
}
.criptografar:hover {
    cursor: pointer;
    background-color: #D8DFE8;
    color: black;
}
#copResult:hover {
    cursor: pointer;
    background-color: #D8DFE8;
    color: black;
}
.informacao {
    display: inline-flex;
    font-size: 12px;
}
.rodape {
    padding-top: 14px;
    padding-left: 25px;
    padding-right: 25px;
}
footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    line-height: center;
}
footer img {
    max-height: 40px;
}